version: "3.9"

services: 
  postgres:
    image: postgres:15
    container_name: task_postgres_db
    environment: 
      POSTGRES_USER: taskuser
      POSTGRES_PASSWORD: taskpass
      POSTGRES_DB: task_db
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: 